<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>Chat app - Login</title>
  </head>
  <body>
    <form method="post">
      <fieldset>
        {% csrf_token %}
        <legend>Login to your account</legend>
        {% if messages %}
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <div>{{ form }}</div>
        <button type="submit">Login</button>
        <p>Not registerd yet ? <a href="{% url 'register' %}">Sign up</a></p>
      </fieldset>
    </form>
  </body>
</html>
