<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper teal text-light px-2">
      <a href="javascript:void(0)" class="brand-logo">Chat App</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li id="username"></li>
        <li>
          <a href="javascript:void(0)">
            <i class="material-icons">notifications_none</i>
          </a>
        </li>
        <li>
          <a href="{% url 'logout' %}">
            <i class="material-icons">power_settings_new</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
